:root {
    --padding-father: 1rem;
    --padding-child: .5rem;
    --color-resalt: #FD5D00;
    --margin-center: 0 6rem;
    --border-radius: 10px;
    --bg-black: #000;
    --bg-black-opacity: #00000081;
    --constract-black: #252525;
    --bg-white: #FFF;
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Grotesk;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-black);
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer'
    ;
    scrollbar-width: 10px;
    scrollbar-color: var(--constract-black);
    
}

/*---------- Unique ----------*/

.btn {
    position: relative;
    padding: .7rem .4rem;
    min-width: 100px;
    cursor: pointer;
    border-style: none;
    background-color: var(--bg-black);
    border-radius: 6px;
    color: var(--bg-white);
    margin: 0 10px;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.btn__flow {
    position: relative;
}

.btn__flow::before {
    filter: blur(10px);
    opacity: .7;
}

.btn__flow::after,
.btn__flow::before {
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle), transparent 70%, #FD5D00, #FFF);
    border-radius: 6px;
    z-index: -1;
    padding: 2.4px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 3000ms spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    padding: 2px;
}

.icon {
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
    background: var(--bg-white);
    /* background: linear-gradient(125deg, #1C1B4B, #B80E65, #179181); */
}


.icon__github {
    background: #786df8;
    fill: #FFF;
}


.icon__linkedin {
    fill: #0a78b5;
}

.icon__gmail {
    background: #FFF;
}

/*----- Icon Tecnology -----*/
.icon__php {
    background: #786df8;
}

.icon__js {
    fill: rgb(255, 196, 0);
    background-color: #FFF;
}

.icon__html {
    fill: #FFF;
    background: #EF7A49;
}

.icon__css {
    fill: #FFF;
    background: #00a;
}

.icon__view {
    fill: #FFFFFFb5;
}

.icon__git {
    fill: #FD5D00;
}

.icon__python {
    fill: #0a78b5;
}

.icon__react {
    fill: #0a78b5;
}

.icon__angular {
    fill: red;
}
/*----- Extra -----*/
.resalt {
    color: var(--color-resalt);
}

.weigth {
    font-weight: bolder;
}

p::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
    background-color: var(--bg-black);
}

p::-webkit-scrollbar-thumb {
    border: .1px solid #7272724d;
    border-radius: 10px;
    margin: 0 .2px;
    background-color: var(--constract-black);
}

textarea {
    width: minmax(100px 100px);
    height: minmax(100px 100px);


}

span {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.card__dark {}

/*---------- Nav ----------*/
.nav {
    display: flex;
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    grid-area: header;
    background-color: var(--bg-black-opacity);
}

.nav__ul {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 16px;
    padding: .5rem 2rem;
    max-width: 700px;
    background: var(--bg-black);
}

.nav__li {
    display: block;
    color: var(--bg-white);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    list-style: none;
    transition: border 300ms ease-in-out;
}

.nav__li:hover:not(.nav__li--active) {
    border-bottom: 1px solid var(--color-resalt);
}

.nav__li--active {
    color: var(--color-resalt);
    border-bottom: 1px solid var(--color-resalt);
}

.nav__a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: .5rem;
    color: inherit;
}

a:visited {
    color: inherit;
}

/*---------- Estilos contenidos en centro ----------*/


.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 5rem;
    grid-area: main;
    gap: 10rem;
    overflow-x: hidden;
    color: var(--bg-white);
}

.main .profile,
.main .about,
.main .project,
.main .tecnology,
.main form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    overflow: hidden;
    padding: 1rem 5rem;
    background: inherit;
}

/*---------- Presentation ----------*/
.main .profile {
    position: relative;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 500px;
}

.profile__img {
    height: 500px;
    z-index: -1;
    position: relative;
}


.profile__img::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    transform: rotate(175deg);
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid var(--color-resalt);
}

.profile__img img {
    height: 100%;
    mask-image: linear-gradient(#000 90%, transparent);
}

.profile__info {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    z-index: 10;
}

.profile__info p {
    max-width: 800px;
    padding: 0 .5rem;
    font-size: 1.7rem;
    text-align: left;
    color: var(--bg-white);
}

.profile__social__media {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    column-gap: .8rem;
    height: auto;
    padding: .4rem;
    align-self: flex-start;
}

/*---------- About me ----------*/
.main .about {}

.about p {
    width: 100%;
}

/*---------- Project ----------*/
main .project {}

.project__title {}

.project__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.project__info {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    border-radius: var(--border-radius);
    row-gap: 12px;
    position: relative;
    cursor: auto;
    transition: scale, box-shadow 0.35s ease-in-out;
    padding: 1rem;
}

.project__info--dark {
    color: #ffffffb5;
    background: var(--constract-black);
}

.project__info--light {
    color: var(--constract-black);
    background: var(--bg-white);
}

.project__info:hover {
    scale: 1.01;
    box-shadow: 0 0px 1px 2px #0a78b5;
}

.project__info img {
    border-radius: var(--border-radius);
}

.info__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.info__title {
    flex-basis: 30%;
    text-align: start;
}

.info__tecnology {
    position: absolute;
    top: 7%;
    right: 5%;
    flex-basis: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    background: #00000093;
}

.info__icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.info__icon .icon__view {
    fill: #FFF;
}

.info__p {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
}

/*---------- Tecnology ----------*/
main .tecnology {}

.tecnology__title {
    text-align: start;
}

.tecnology__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 16px;
}

.tecnology__backend,
.tecnology__frontend,
.tecnology__learn,
.tecnology__tools {
    display: flex;
    flex-flow: row wrap;
    row-gap: 16px;
    column-gap: 10px;
    padding: 1rem;
}

.tecnology__backend--dark,
.tecnology__frontend--dark,
.tecnology__learn--dark,
.tecnology__tools--dark {
    color: #ffffffb5;
    background: var(--constract-black);
    border-radius: var(--border-radius);
}

.tecnology__backend--light,
.tecnology__frontend--light,
.tecnology__learn--light,
.tecnology__tools--light  {
    color: var(--constract-black);
    background: var(--bg-white);
    border-radius: var(--border-radius);
}

.backend__title,
.frontend__title,
.learn__title,
.tools__title  {
    flex-basis: 100%;
}

.tecnology__icon {
    width: 40px;
    height: 40px;
}
/*---------- Form ----------*/
main form {}

main form .contact {
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 300px;
}

main form .contact legend {
    margin-left: 3rem;
}

main form .contact div:nth-child(2) {
    background: lightcoral;
    flex: 1 1;
}

main form .contact div:nth-child(3) {
    background: lightblue;
    flex: 2 2;
}

/*---------- Footer ----------*/
footer {
    min-height: 100px;
    grid-area: footer;
}

/*---------- Responsive ----------*/

@media (width<=800px) {
    main .header {
        flex-direction: column;
        padding: 0;
    }

    main .header .img {
        height: 400px;
        position: initial;
    }

    main .header .header__user__info {
        justify-self: center;
        margin: 0;
    }

    main .header .header__user__info p {
        font-size: 1.4rem;
    }

    main .header .header__user__info .social__media {
        align-self: center;
    }
}